on:
  push:
    branches: [main, dev]
  pull_request:

name: CI

jobs:
  run-tests:
    runs-on: ${{ matrix.os }}
    #container:
    #  image: ubuntu:20.10
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        rust:
          - stable

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: recursive
      - uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
      - uses: Swatinem/rust-cache@v2
      - uses: taiki-e/install-action@cargo-hack
      - name: cargo check (feature powerset)
        run: cargo hack check --feature-powerset --no-dev-deps
      - name: cargo check examples (feature powerset)
        run: cargo hack check --examples --feature-powerset
      - name: run tests (feature powerset)
        run: |
            cargo hack test --all-targets --feature-powerset
      - name: run doc tests (feature powerset)
        run: |
            cargo hack test --doc --feature-powerset

  fmt:
    name: rust fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: recursive
      - uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
          components: rustfmt
      - run: |
          cargo fmt --all -- --check

  clippy:
    name: clippy!!
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
          components: clippy
      - uses: Swatinem/rust-cache@v2
      - name: clippy (all targets)
        run: cargo clippy --all-targets --all-features -- -D warnings
      - name: clippy (all targets, all features)
        run: cargo clippy --all-targets -- -D warnings
